#################################################
# Node
#################################################

node_modules/
dist/
build/
coverage/

#################################################
# Python
#################################################

.venv/
venv/
__pycache__/
*.py[cod]
*.sqlite3

#################################################
# Environment
#################################################

.env
.env.*

!.env.example

#################################################
# Django
#################################################

media/
staticfiles/

#################################################
# FastAPI
#################################################

.pytest_cache/

#################################################
# VS Code
#################################################

.vscode/

#################################################
# OS
#################################################

.DS_Store
Thumbs.db

#################################################
# Logs
#################################################

*.log

#################################################
# Hardhat
#################################################

artifacts/
cache/
typechain-types/

#################################################
# Misc
#################################################

.idea/